.car {
  padding: 1rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

.chosen_car {
  background-color: #fff;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.car:nth-child(2n) {
  background-color: #e8d9d8;
}

.car:nth-child(2n + 1) {
  background-color: #bbbadb;
}
